# Intro to data anlysis with `pandas`

# TOC

* Read data
* Select columns
* Indexing
* Aggregate
* Group by
* Combine DataFrames

## Tutorials


* [Modern Pandas tutorials](http://tomaugspurger.github.io/modern-1-intro)
* [Official pandas tutorials](https://pandas.pydata.org/pandas-docs/stable/tutorials.html)
* [more detailed version](https://github.com/fliem/python_intro/blob/master/slides/09_Pandas_intro_detailed.ipynb) of these slides

To use pandas we need to import the package.

Per convention, this is usually done as pd

In [1]:
import pandas as pd

# Reading data

**Important functions**

* `pd.read_csv`
* `pd.read_excel`

In [2]:
df = pd.read_csv("data/data.txt")

`df.head` will print the first 5 lines of the DataFrame

In [3]:
df.head()

  group  score1  score2 sex
0     A     1.0      20   f
1     A     2.0      21   m
2     A     3.3       9   f
3     A     4.5      10   m
4     B     5.0      13   m

### Get column names

In [4]:
df.columns

Index(['group', 'score1', 'score2', 'sex'], dtype='object')

# Indexing
More details in the [Python Data Science Handbook chapter 3.2](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.02-Data-Indexing-and-Selection.ipynb)

### Select column

In [5]:
df["score1"]

0    1.0
1    2.0
2    3.3
3    4.5
4    5.0
5    4.4
6    6.3
7    2.1
Name: score1, dtype: float64

equivalent to

# Select rows

In [6]:
df.query("sex=='m' & group=='B'")

  group  score1  score2 sex
4     B     5.0      13   m
6     B     6.3      17   m

### Create new columns

In [7]:
df["data_available"] = True
df.head()

  group  score1  score2 sex  data_available
0     A     1.0      20   f            True
1     A     2.0      21   m            True
2     A     3.3       9   f            True
3     A     4.5      10   m            True
4     B     5.0      13   m            True

# Aggregation


aggregation: returns a reduced version of the data (e.g., one mean value)

### First descriptives

In [8]:
df[["score1", "score2"]].mean()

score1     3.575
score2    14.625
dtype: float64

# Split, apply, combine

Calculate something for each group separately

![](images/03.08-split-apply-combine.png)
https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.08-Aggregation-and-Grouping.ipynb

In [9]:
df.groupby("group").mean()

       score1  score2  data_available
group
A        2.70   15.00            True
B        4.45   14.25            True

# Exporting data
Export data, for instance, with

```python
df_group_means.to_csv("data/results.txt")
df_group_means.to_excel("data/results.xlsx")
```

# Combining DataFrames

For more see chapters 3.6 and 3.7 of the [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook)

# Combining DataFrames

* **`pd.concat`**
![](images/concat.png)

https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

In [10]:
df1 = pd.DataFrame({"sub": [1, 2, 3], "sex": ["f", "f", "f"]})
df2 = pd.DataFrame({"sub": [4, 5, 6], "sex": ["m", "m", "f"]})
df1

   sub sex
0    1   f
1    2   f
2    3   f

In [11]:
df2

   sub sex
0    4   m
1    5   m
2    6   f

In [12]:
df = pd.concat([df1, df2])
df

   sub sex
0    1   f
1    2   f
2    3   f
0    4   m
1    5   m
2    6   f

Note that the index is take as is from the original data frames

In [13]:
df = pd.concat([df1, df2], ignore_index=True)
df

   sub sex
0    1   f
1    2   f
2    3   f
3    4   m
4    5   m
5    6   f

# Combining DataFrames
* **`pd.merge`**
![](images/merge.png)

https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

In [14]:
df1 = pd.DataFrame({"sub": [1, 2, 3, 4], "sex": ["f", "f", "f", "m"]})[["sub", "sex"]]
df2 = pd.DataFrame({"sub": [1, 3, 2], "hand": ["r", "l", "r"]})[["sub", "hand"]]
df1

   sub sex
0    1   f
1    2   f
2    3   f
3    4   m

In [15]:
df2

   sub hand
0    1    r
1    3    l
2    2    r

In [16]:
# looks for common keys
df = pd.merge(df1, df2)
df

   sub sex hand
0    1   f    r
1    2   f    r
2    3   f    l

# Exercise `exercises/pandas_combine_data.ipynb`